.list {
    list-style-type: none;
}

.label {
    align-items: center;
    display: inline-flex;
}

.labelText {
    margin-inline-start: 0.5rem;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-color: #E2E8F0;
}

.count {
    padding: 0.1rem 0.4rem;
    font-size: .8rem;
    color: #3a4570;
    background-color: #dfe2ee;
    border-radius: 8px;
    margin-left: 5px;
}